{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Index</h1>
        
        <p>
            Ici ma page index !!!
        </p>
    </body>
</html>